*
{
    margin: 0;
    padding: 0;
}

html
{
    background: rgb(61,61,61);
    background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(23,23,23,1) 90%, rgba(33,33,33,1) 100%);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}